name: Remove approvals when PR diff changes

on:
  pull_request:
    types: [ opened, edited, synchronize ]
    branches:
      - main

jobs:
  waitaminute:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: ./
